.grid {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
}

.box {
    display: flex;justify-content: center;align-items: center;
    color: aliceblue;
    background-color: darkslategray;
    border-radius: 10px;
    height: 75px;
    width: 75px;
    font-size: 20px;
}